.dealTitle {
  font-size: 1rem;
  font-weight: 500;
  color: #bfa381;
}

.dealDesc {
  font-size: 0.7rem;
  color: #d2cdc9;
  font-weight: 200;
}
.mainContainer {
  height: 12rem;
  min-height: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #0d0d0c;
}
